<div [ngSwitch]='question.Type' class="card mt-3 p-3">
  <select class="form-select" aria-label="Default select example" (change)='ChangeType($event)'>
    <option *ngFor='let item of questionType | enumToArray;index as i' [value]="item.index"
      [selected]="question.Type===item.index">{{item.name}}
    </option>
  </select>
  <div *ngSwitchCase='questionType.Text'>
    <input [(ngModel)]="question.Question" type="text" class="form-control" id="Question" placeholder="Question" />
  </div>
  <div *ngSwitchCase='questionType.Multiple '>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="display: flex;"
        *ngFor="let item of question.Choices; index as i; trackBy:trackByFn">
        <input [(ngModel)]="question.Choices[i]" type="text" class="form-control" placeholder="Type your question" />
        <button type="button" class="btn-close m-2" aria-label="Close" (click)="DeleteChoice(i)"></button>
      </li>
    </ul>
    <button (click)="AddChoice()">Add choice</button>
  </div>
  <div *ngSwitchCase='questionType.Single'>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" style="display: flex;"
        *ngFor="let item of question.Choices; index as i; trackBy:trackByFn">
        <input [(ngModel)]="question.Choices[i]" type="text" class="form-control" placeholder="Type your question" />
        <button type="button" class="btn-close m-2" aria-label="Close" (click)="DeleteChoice(i)"></button>
      </li>
    </ul>
    <button (click)="AddChoice()">Add choice</button>
  </div>
  <button type="button" (click)="DeleteQuestion()">Delete question</button>
</div>